.adminFormContainer{
	position:absolute;
	left:50%;
	transform: translateX(-50%);
	width:30rem;
	height:6rem;
	border-bottom:1px solid black;

}
.adminForm{
	width:15rem;
	border: 1 px solid black;
	margin: auto;
	margin-top:2rem;
}
.inputContainer{
	margin:1rem;
}
.label{
	visibility:hidden;
	position:absolute;
	top:32px;
	opacity:.2;
	color:black;

}
.input::placeholder{
	color:rgb(191, 191, 191);
}
.input:focus{
	&::placeholder{
	visibility: hidden;}

}
	.input:focus + .label{
	transform:translateY(-30px);
	visibility:visible;
	transition: 1s all;
	opacity:.5;
}
.buttonsContainer{
	padding:.5rem;

	text-align: center;;
}
.signinButton{
	box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.2);
	&:hover{
		box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	}
	&:active{
		box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.6);
	}
}
