.adminFormContainer{
	position:absolute;
	left:50%;
	transform: translateX(-50%);
	width:30rem;
	height:6rem;
	border-bottom:1px solid black;
	display:flex;
	flex-direction: column;

}
.buttonContainer{
	margin: 2rem auto;
	color:gray;



}
.adminForm{
	width:15rem;
	border: 1 px solid black;
	margin: auto;
	margin-top:1rem;
}
.inputContainer{
	margin:1rem;
}
.label{
	visibility:hidden;
	position:absolute;
	top:134px;
	left:140px;
	opacity:.2;
	color:black;

}
.label2{
	visibility:hidden;
	position:absolute;
	top:158px;
	left:140px;
	opacity:.2;
	color:black;

}
.label3{
	visibility:hidden;
	position:absolute;
	top:183px;
	left:140px;
	opacity:.2;
	color:black;

}
.label4{
	visibility:hidden;
	position:absolute;
	top:158px;
	left:140px;
	opacity:.2;
	color:black;

}
.input::placeholder{
	position:absolute;

	color:rgb(231, 231, 231);
}
.input:focus{
	&::placeholder{
	visibility: hidden;}

}
	.input:focus + .label{
	transform:translateX(145px);
	visibility:visible;
	transition: 1s all;
	opacity:.5;
}
.input:focus + .label2{
	transform:translateX(145px);
	visibility:visible;
	transition: 1s all;
	opacity:.5;
}
.input:focus + .label3{
	transform:translateX(122px);
	visibility:visible;
	transition: 1s all;
	opacity:.5;
}
.input:focus + .label4{
	transform:translateX(122px);
	visibility:visible;
	transition: 1s all;
	opacity:.5;
}
.buttonsContainer{
	padding:.5rem;

	text-align: center;;
}
.signinButton{
	box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.2);
	&:hover{
		box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	}
	&:active{
		box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.6);
	}
}
