.adminBookContainer{
	position: relative;
	margin:auto auto;
	display:flex;
	flex-direction: column;
}

.AdminPanel{
	height:30px;
	width:333px;
}

.button_addBook{
	margin-top: 0;
}

.AdminBookCard_container{
	width: auto;
	display:flex;
	flex-wrap: wrap;
	gap:5rem;
	margin-top:180px;
}