.adminBookContainer{
	position: relative;
	margin:auto auto;
	display:flex;

	margin: auto;



}
.AdminPanel{
	width:50%;
}
.button_addBook{
	margin-top: 2rem;
}
.AdminBookCard_container{
	width:50%;

	display:flex;
	flex-wrap: wrap;
	gap:2rem;
}