.footerContainer{
	width:75vw;
	height:4rem;
	background-color: rgba(116, 116, 116, 0.372);
	position:absolute;
	bottom:0;
}
.navigation{
	display: flex;
	height:4rem;
	gap:3rem;
	justify-content:baseline;
	align-items:flex-end;
}