*{
  padding:0;
  margin:0;
}
.App{
  background-color: rgb(235, 235, 235);
  position:absolute;
  width:75vw;
  top:0;
  left:50%;
  transform:translateX(-50%);
  height:100vh;
}
.card {
  padding: 2em;
}


